* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Glacial Indifference', sans-serif;
}

.container {
    background: #f0f0f0;
    width: 1152px;
    height: 3196;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 100px;
    padding-left: 100px;
    padding: 50px 30px;
    background: #0080FF;
}

.logo-container h1 {
    font-size: 50px;
    color: white;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 25px;
}

nav a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}

.main-container {
    width: 929px;
    height: 491px;
    background: white;
    margin: 75px auto;
    border-radius: 30px;
    box-shadow: 5px 3px 10px gray;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.title-container {
    display: block;
    text-align: center;
}

.title-container h1 {
    font-size: 50px;
}

.content-container {
    width: 60%;
    text-align: center;
    font-size: 15px;
   
}

.stats {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.substats {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.box {
    width: 100px;
    height: 100px;
    border: 3px solid gray;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
}

form input[type=submit] {
    width: 200px;
    height: 50px;
    border-radius: 10px;
    border: none;
    background: #0080FF;
    color: white;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}



.body-image {
    width: 512px;
    height: 491px;
    overflow: hidden;
    object-fit: contain;
    display: block;
    border-radius: 30px;
    align-self: flex-start;
}

.body-image img {
    width: 150%;
    height: 100%;
    object-position: -130px 50%;
}

.price-container {
    width: 929px;
    height: 491px;
    background: white;
    margin: 75px auto;
    border-radius: 30px;
    box-shadow: 5px 3px 10px gray;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.price-item {
    margin-right: 60px;
    margin-left: 50px;

}

.price-item h3 {
    font-size: 40px;
    margin-bottom: 16px;
}

.price-item h2 {
    font-size: 45px;
    margin-bottom: 16px;
}

.price-hour {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: last baseline;
}

.price-item h5 {
    font-size: 25px;
}

.price-item h4 {
    font-size: 20px;
    margin-bottom: 15px;
}

.price-item div form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.check-text {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: first baseline;
}

.check-text div h5 {
    font-size: 16px;
    font-weight: normal;
}

.check-text-wrapper {
    display: flex;
    flex-direction: column;
    gap: 3px;
    margin-bottom: 30px;
}

button {
    width: 250px;
    height: 50px;
    border-radius: 12px;
    border: none;
    background: #0080FF;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.cover {
    width: 100%;
    height: 150px;
    background: red;
    display: block;
    position: absolute;
    right: 0;
    margin-right: 600px;
    margin-top: 100px;
    opacity: 0%;
}

.list-class{
    width: 1000px;
    height: 891px;
    margin: 75px auto;
    border-radius: 30px;
    margin-top: 300px;
}

.title-list{
position: absolute;
width: 929px;
height: 55px;
margin-left: 250px;

font-family: 'Cocogoose';
font-style: normal;
font-weight: 400;
font-size: 48px;
line-height: 68px;

color: #333333;
}

.classbox{
    display: inline-block;
    margin-left: 30px;
    margin-top: 50px;
}

.classbox1{
width: 250px;
height: 250px;
top: 200px;
left: 80px;
margin-left: 50px;
margin-top: 50px;
display: inline-block;

background: #C4C4C4;
box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
border-radius: 30px;
}
.classbox2{
width: 250px;
height:250px;
top: 200px;
left: 80px;
margin-left: 50px;
margin-top: 50px;
display: inline-block;

background: #C4C4C4;
box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
border-radius: 30px;
}
.classbox3{
width: 250px;
height: 250px;
top: 200px;
left: 80px;
margin-left: 50px;
margin-top: 50px;
display: inline-block;

background: #C4C4C4;
box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
border-radius: 30px;
}
.classbox4{
width: 250px;
height:250px;
top: 200px;
left: 80px;
margin-left: 50px;
margin-top: 50px;
display: inline-block;

background: #C4C4C4;
box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
border-radius: 30px;
}
.classbox5{
width: 250px;
height: 250px;
top: 200px;
left: 80px;
margin-left: 50px;
margin-top: 50px;
display: inline-block;

background: #C4C4C4;
box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
border-radius: 30px;
}
.classbox6{
width: 250px;
height: 250px;
top: 200px;
left: 80px;
margin-left: 50px;
margin-top: 50px;
display: inline-block;

background: #C4C4C4;
box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
border-radius: 30px;
}

.type-class{
position: absolute;
width: 250px;
height: 100px;
margin-top: 150px;

background: #FFFFFF;
border-radius: 30px;
}

.type-class p{
position: absolute;
top: 0px;
left: 0px;
width: 73px;
height: 30px;
margin-left: 95px;

font-family: 'Cocogoose';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 34px;

color: #333333;
}

.btn-class{
position: absolute;
width: 194px;
height: 45px;
margin-left: 30px;
margin-top: 40px;

background: #0080FF;
border-radius: 15px;
}

.type-class button{
    position: absolute;
    width: 150px;
    top: 35px;
    left: 50px;
}
.btn-class p{
    top: 0px;
    left: 0px;
    text-align: center;

    font-family: 'Cocogoose';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    
    color: #FFFFFF;
}

.col-testimoni{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
width: 1152px;
height: 493px;
/**left: 200px;
top: 2500px;**/

background: #0080FF;
}

.testimoni{
display: flex;
flex-direction: row;
width: 704px;
height: 253px;

background: #FFFFFF;
box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
border-radius: 15px;
top: 0px;
left: 0px;
}

.pic-profile{
width: 278px;
height: 253px;
object-fit: cover;
background-color: grey;

}

.pic-profile img{
width: 260px;
height: 230px;
}
.text{
    width: 300px;
    margin-left: 70px;
    margin-top: 50px;
}

.footer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}

.main-footer {

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.footer-text {
    width: 35%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    text-align: right;
    gap: 10px;
}

.footer-text h1 {
    font-size: 50px;
}

.footer-text h4 {
    font-size: 25px;
}

.footer-text p:last-child {
    font-weight: bold;
}

.footer-contact {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer-contact p {
    font-size: 20px;
    font-weight: bold;
}

.footer-contact p:first-child {
    font-size: 25px;
}

.footer-contact-item {
    display: flex;
    flex-direction: column;
}

.footer-contact-btn form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer-contact-btn form input[type=submit] {
    border-radius: 15px;
    font-size: 20px;
}

.footer-contact-btn form input:last-child {
    background: none;
    border: 5px solid #0080FF;
    color: #0080FF;
}

.footer-contact-btn form label {
   margin-right: 160px;
   align-self: center;
   font-weight: bold;
   color: gray;
}

.copyright p {
    font-weight: bold;
}